

/* Sections */
section {
    margin: 20px 0;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

/* Answer Container */
.answer-container {
    margin: 10px 0;
}

/* Textareas */
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #e7e1e1;
}
textarea:focus {
    outline: none;
}

/* Buttons */
button {
    background-color: #007ACC;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005AA8;
}

/* Profile Section */
#profile {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* View Profile Button */
#viewProfileButton {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#viewProfileButton:hover {
    background-color: #45A249;
}


